---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
const currentPath = Astro.url.pathname;

const normalizePath = (path: string) => {
    // Si la ruta tiene más de un carácter y termina en '/', la eliminamos.
    return path.length > 1 && path.endsWith("/") ? path.slice(0, -1) : path;
};

const normalizedHref = normalizePath(String(href));
const normalizedCurrentPath = normalizePath(currentPath);

const isActive =
    normalizedHref === normalizedCurrentPath ||
    (normalizedHref !== "/" &&
        normalizedCurrentPath.startsWith(normalizedHref + "/"));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
